.header-bar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  .logo {
    img {
      height: 30px;
      width: auto;
      display: block;
    }
  }

  nav {
    a {
      margin-left: 2rem;
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;

      &.active,
      &:hover {
        color: #386C54;
      }
    }
  }
}
